<template name="header">
    <header>
        <h1 class="center-align">My ToDo List!</h1>
    </header>
</template>

<template name="form">
    <form class="add-new-task">
        <div class="input-field">>
            <input type="text" placeholder="Add A New Task" />
        </div>
        <button class="waves-effect waves-light btn">Submit</button>
    </form>
</template>

<template name="todos">
    <ul class="collection">
        {{#each todoList}}
        <li class="collection-item {{#if this.complete}}completed{{/if}}">
            {{this.name}}
            <div class="secondary-content">
                <a class="complete-task"><i class="material-icons">done</i></a>
                <a class="delete-task"><i class="material-icons">delete</i></a>
            </div>
        </li>
        {{/each}}
    </ul>
</template>